flows.json
[
    {
        "id": "4c6951e.8e5a9b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ca5cfec0.545a1",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d2307524.376188",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d7d7e18b.078d9",
        "type": "ibmiot",
        "z": "",
        "name": "",
        "keepalive": "60",
        "serverName": "",
        "cleansession": true,
        "appId": "",
        "shared": false
    },
    {
        "id": "dcba30c4.17b1d",
        "type": "ui_group",
        "z": "",
        "name": "IOT PROJECT",
        "tab": "76afd992.d9de18",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "76afd992.d9de18",
        "type": "ui_tab",
        "z": "",
        "name": "Smart_home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c26d61ed.1e2c1",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3412393a.cfa796",
        "type": "ui_tab",
        "z": "",
        "name": "Motor_Controlls",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b633f158.107f7",
        "type": "ui_group",
        "z": "",
        "name": "Motor commands",
        "tab": "3412393a.cfa796",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false
    },
    {
        "id": "91a91cef.f6f89",
        "type": "ibmiot in",
        "z": "d2307524.376188",
        "authentication": "apiKey",
        "apiKey": "d7d7e18b.078d9",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "123456789",
        "applicationId": "",
        "deviceType": "IOTPROJECT",
        "eventType": "event_1",
        "commandType": "",
        "format": "json",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allLogicalInterfaces": "",
        "allEvents": false,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 250,
        "y": 300,
        "wires": [
            [
                "5601c330.b8913c",
                "6ee31bc5.3e92b4",
                "f6b7ecf7.f5a5e",
                "a2523263.0afcb"
            ]
        ]
    },
    {
        "id": "5601c330.b8913c",
        "type": "debug",
        "z": "d2307524.376188",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 750,
        "y": 300,
        "wires": []
    },
    {
        "id": "6ee31bc5.3e92b4",
        "type": "function",
        "z": "d2307524.376188",
        "name": "temperature",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 420,
        "wires": [
            [
                "5601c330.b8913c",
                "8fd50f94.c76b9"
            ]
        ]
    },
    {
        "id": "f6b7ecf7.f5a5e",
        "type": "function",
        "z": "d2307524.376188",
        "name": "humidity",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 490,
        "y": 80,
        "wires": [
            [
                "5601c330.b8913c",
                "e98ea40c.07e9f8"
            ]
        ]
    },
    {
        "id": "e98ea40c.07e9f8",
        "type": "ui_gauge",
        "z": "d2307524.376188",
        "name": "",
        "group": "dcba30c4.17b1d",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 800,
        "y": 60,
        "wires": []
    },
    {
        "id": "8fd50f94.c76b9",
        "type": "ui_gauge",
        "z": "d2307524.376188",
        "name": "",
        "group": "dcba30c4.17b1d",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temperature",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 860,
        "y": 440,
        "wires": []
    },
    {
        "id": "21e41b5.67332e4",
        "type": "ibmiot out",
        "z": "ca5cfec0.545a1",
        "authentication": "apiKey",
        "apiKey": "d7d7e18b.078d9",
        "outputType": "cmd",
        "deviceId": "pavan102",
        "deviceType": "IOTDEVICE2",
        "eventCommandType": "home",
        "format": "json",
        "data": "data",
        "qos": 0,
        "name": "IBM IoT",
        "service": "registered",
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "a251c2e.5ec6d4",
        "type": "ui_button",
        "z": "ca5cfec0.545a1",
        "name": "",
        "group": "b633f158.107f7",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "MOTOR ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"motoron\"}",
        "payloadType": "json",
        "topic": "",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "21e41b5.67332e4"
            ]
        ]
    },
    {
        "id": "2cf08067.90c07",
        "type": "ui_button",
        "z": "ca5cfec0.545a1",
        "name": "",
        "group": "b633f158.107f7",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "MOTOR OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"motoroff\"}",
        "payloadType": "json",
        "topic": "",
        "x": 320,
        "y": 400,
        "wires": [
            [
                "21e41b5.67332e4"
            ]
        ]
    },
    {
        "id": "5f268313.e623dc",
        "type": "http request",
        "z": "4c6951e.8e5a9b",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "api.openweathermap.org/data/2.5/weather?q=Hyderabad,IN&units=imperial&appid=10499d92d087490bfd3b8c096db6f2bf",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 60,
        "wires": [
            [
                "8f0936d6.9825a8",
                "68bbda89.4cadc4",
                "33c2abae.e6fcf4",
                "aea3826f.7224",
                "5a3202ba.7fc25c"
            ]
        ]
    },
    {
        "id": "8f0936d6.9825a8",
        "type": "debug",
        "z": "4c6951e.8e5a9b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 770,
        "y": 60,
        "wires": []
    },
    {
        "id": "8ebefa99.87f1f8",
        "type": "inject",
        "z": "4c6951e.8e5a9b",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 60,
        "wires": [
            [
                "5f268313.e623dc"
            ]
        ]
    },
    {
        "id": "68bbda89.4cadc4",
        "type": "debug",
        "z": "4c6951e.8e5a9b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.main.temp",
        "targetType": "msg",
        "x": 810,
        "y": 100,
        "wires": []
    },
    {
        "id": "7d764591.2617bc",
        "type": "ui_text",
        "z": "4c6951e.8e5a9b",
        "group": "dcba30c4.17b1d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 770,
        "y": 180,
        "wires": []
    },
    {
        "id": "8d8d509f.5f42e",
        "type": "ui_text",
        "z": "4c6951e.8e5a9b",
        "group": "dcba30c4.17b1d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "humidity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 780,
        "y": 260,
        "wires": []
    },
    {
        "id": "33c2abae.e6fcf4",
        "type": "change",
        "z": "4c6951e.8e5a9b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 180,
        "wires": [
            [
                "7d764591.2617bc"
            ]
        ]
    },
    {
        "id": "aea3826f.7224",
        "type": "change",
        "z": "4c6951e.8e5a9b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 260,
        "wires": [
            [
                "8d8d509f.5f42e"
            ]
        ]
    },
    {
        "id": "a2523263.0afcb",
        "type": "function",
        "z": "d2307524.376188",
        "name": "pressure",
        "func": "msg.payload = msg.payload.pressure;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 220,
        "wires": [
            [
                "5601c330.b8913c",
                "c4872bc4.9136d8"
            ]
        ]
    },
    {
        "id": "c4872bc4.9136d8",
        "type": "ui_gauge",
        "z": "d2307524.376188",
        "name": "",
        "group": "dcba30c4.17b1d",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "pressure",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 840,
        "y": 200,
        "wires": []
    },
    {
        "id": "5a3202ba.7fc25c",
        "type": "change",
        "z": "4c6951e.8e5a9b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 340,
        "wires": [
            [
                "f62f4289.4bc1b"
            ]
        ]
    },
    {
        "id": "f62f4289.4bc1b",
        "type": "ui_text",
        "z": "4c6951e.8e5a9b",
        "group": "dcba30c4.17b1d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "pressure",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 780,
        "y": 340,
        "wires": []
    }
]